.posts {
    list-style: none;
    max-width: 50rem;
    margin: 1rem auto;
    padding: 1rem 0;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 30%);
    justify-content: center;
  }
  .posts2{
    justify-content: center;

  }
  .ul{
    padding-inline-start: 0px;
  }
  
  a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
  }