.menu{
    background-color: #e3f2fde7;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15), inset 0 -1px 0 rgba(0,0,0,0.15);
}
#home{
    padding-left: 20px;
    padding-right: 20px;
}
.nav-link:hover{
    color: black;
}