body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.body {
  text-align: center;
  max-width: 70rem;
  margin: 1rem auto;
  display: grid;
  gap: 1rem;
  padding-top: 80px;
  padding-bottom: 10px;
  /* Added to make \n work in the js code */
  white-space: pre-line;
  vertical-align: bottom;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
